
  .profile{
    order: 1;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  .profile_img{
    border-radius: 50%;
    border: solid 10px blueviolet;
    margin: auto;
    text-align: center;
    align-items: center;
    order: 1;
    width: 300px;
    
  }
  .profile_name{
    margin-top: 10px;
    order: 2;
    font-size: 30px;
    color: white;
  }
  .position{
    font-size: 30px;
    color: white;
    order: 3;
  }
  .work_time{
    order: 5;
    margin-top: 5px;
    margin-left: 4%;
    font-size: 30px;
    color: white;
  }
  hr{
    width: 98%;
    margin-top: 60px;
    margin-bottom: 10px;
    order: 4;
    border:1px solid blueviolet;
    border-radius: 10px;
    height: 5px;
    background-color: blueviolet;
  }
  hr.hr2{
    
    order: 6;
  }
  hr.hr3{
    order: 7;
  }
  hr.hr4{
    order: 9;
  }
  hr.hr5{
    order: 11;
  }
  hr.hr6{
    order: 13;
  }
  hr.hr7{
    order: 15;
  }
  .hard_skill{
    order: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .soft_skill{
    order: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    align-items: center;
    
  }
  .soft_skill_name{
    font-size: 30px;
    color: white;
    order: 2;
    margin-right: 15%;
  }
  .about_me{
    order: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_me_text{
    font-size: 30px;
    color: white;
    order: 2;
    margin-left: 3%;
    width: 98%;
  }
  .education{
    order: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education_text{
    font-size: 30px;
    color: white;
    order: 2;
    margin-left: 3%;
    width: 98%;
  }
  .contacts{
    order: 14;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts_info{
    font-size: 30px;
    color: white;
    order: 2;
    margin-bottom: 100px;
    width: 98%;
    margin-left: 20%;
    
  }
  