.projects{
    border: 5px solid blueviolet;
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    height: 500px;
}

.project{
    margin-top: 10px;
    border-radius: 10px;
    border: 5px solid blueviolet;
    width: 20%;
    margin-left: 3%;
    height: 160px;
    
}
.proj_name{
    margin-left: 40%;
    color: white;
}
.proj_img{
    margin-left: 25%;
    width: 50%;
}
.proj_desk{
    margin-left: 5%;
    color: white;
}
.proj_title{
    margin-top: 100px;
    margin-left: 45%;
    color: white;
    font-size: 300%;
}
